#loadMore {
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}
#loadMore a {
  background: #faa635;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
}
#loadMore a:hover {
  background-color: #042a63;
}
.title {
  font-size: 23px;
  color: black;
}

#navbarSupportedContent {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
#nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 57px;
}
.container {
  margin-top: 78px;
}
#category {
  position: fixed;
  width: 200px;
}
#center-col {
  margin-left: 200px;
  width: 68%;
}
.btn-check {
  color: green;
}
.card-bot {
  margin-bottom: 30px;
}
.card-image {
  width: 100%;
  height: 150px;
}
#category > button:hover {
  color: green;
}
#category > button:active {
  background-color: green;
  color: white;
}
